@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais simples */
html,
body,
#__next {
  height: 100%;
}
body {
  @apply bg-white text-slate-900 antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  @apply max-w-3xl mx-auto px-4;
}

.brand {
  @apply text-brown-700 font-semibold;
}
